<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Space+Grotesk&display=swap" rel="stylesheet">




    <link rel="stylesheet" href="pramaanpage.component.css">
</head>
<body>
    <div class="container1">
        <div class="loginHead">
            <div class="head">Welcome To Pramaan</div>
            <div class="headmsg">Where Trust Meets ZERO Knowledge</div>
        </div>
        <div class="buttoncontainer">
            <button id="b1" (click)="register()">Registration</button>
            <button id="b2" (click)="verification()">Generate QR</button>
        </div>
    </div>
    
</body>
</html>
