
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    /* background-color: #222; */
    justify-content: center;
    align-items: center;
    background-image: url(loginbg.jpg);
    background-size: cover;

    
  }

  .flex1{
      display: flex;
  }
  .inpl1{
      display: flex;
      height: 150px;
      width: 400px;
      border: 1px solid white;
      margin-top: 40px;
      justify-content: space-evenly;
      align-items: center;
  }

  #ta1{
    width: 200px;
    height: 60px;
  }


  .inpl1 {
    height: 60px;
    width: 70px;
    background-image: url(fingerprint.jpg);
  }

 .box1{
  color: white;
  margin: 10px;
  
 }

 .box2{
  color: white;
  margin: 10px;
  
 }

 .flex2{
  display: flex;
  /* border: 1px solid white; */
  margin-top: 10px;
  
 }

 .box3{
  color: #b38bff;
 }

 .box1{
  color: #b38bff;
 }
 


 #bd{
  margin-left: 20px;
  height: 25px;
 }
 
 #uid{
    margin-left: 45px;
  height: 25px;

 }
 #lab2{
  margin-left: 10px;
 }

 .verifhead{
    margin-top: 30px;
 }

h2{
    font-family: 'Space grotesk', sans-serif;
    color: #b38bff;

 }

 .container{
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 /* animations */

 .animation-container {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.letter {
  font-weight: bold;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#p {
  animation-delay: 0s;
}

#r {
  animation-delay: 0.2s;
}

#a1 {
  animation-delay: 0.4s;
}

#m {
  animation-delay: 0.6s;
}

#a2 {
  animation-delay: 0.8s;
}

#a3 {
  animation-delay: 1s;
}

#n {
  animation-delay: 1.2s;
}

.logocontainer{
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
  color: #b38bff;
  font-size: 40px;
}
