<!DOCTYPE html>
<html lang="en">
<head>
<    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Space+Grotesk&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main-page.component.css">>
</head>
<body>
    
        <div class="container">
            <div class="logocontainer">
                <div class="letter" id="p">P</div>
                <div class="letter" id="r">R</div>
                <div class="letter" id="a1">A</div>
                <div class="letter" id="m">M</div>
                <div class="letter" id="a2">A</div>
                <div class="letter" id="a3">A</div>
                <div class="letter" id="n">N</div>
            </div>
            
           
            <div class="verifhead">
                <h2>VERIFICATION</h2>
            </div>
            
            <div class="formcontainer">
                <div class="inpl1">
                    <img>
                    <div class="configbox">
                         
                        <p><textarea #idValue placeholder="Touch to verify!"></textarea></p>
      <br><p>
        <button  class="btn btn-info btn-lg" (click)="generateProof(idValue.value)">Verify User</button>&nbsp;</p>

                    </div>
                </div>
            </div>
        </div>
   
</body>
</html>
