

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color:#1D1D1F; */
    ;
}

body{
    height: auto;
    justify-content: center;
    align-items: center;
    background-image: url(loginbg.png);
    background-size: cover;
}

.loginHead{
    /* border: 1px solid black; */
    width: 662px;
    height: 120px;
}
.head{
    /* border: 1px solid black; */
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    font-size: 54px;
    font-weight: 500;
    margin-top: 10px;
    
}
.headmsg{
    /* border: 1px solid white; */
    color: white;
    margin-top: 30px;
    font-family: 'Inter',sans-serif;
    justify-content: center;
    padding-left: 130px;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
}
.container1{
    height: 500px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Head{
    width: 100%s;
    height: 60px;
}

.buttoncontainer{
    /* border: 1px solid white; */
    margin-top: 20px;
    width: 400px;
    height:60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    }

    #b1{
        padding: 10px;
        background-image: linear-gradient(to right, #A9A5FD , #EBD75D);
      
      color: #32314b;
      font-weight: bold;
        width: 140px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.2s ease-in-out;
    }

    #b2{
        padding: 10px;
        background-image: linear-gradient(to right, #A9A5FD , #EBD75D);
        color: #32314b;
        font-weight: bold;
        width: 140px;
      
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
      transition: background-color 0.2s ease-in-out;
    }

    /* button:hover {
        background-color: white;
      } */
